:root {
   --color-light: #ffffff;
   --accent-color: #598d66;
   --color-dark: #2c2d35;
   --color-dark-green: #376b44;
   --color-bg: #e1ede6;
   --color-grey: #86928b;
   --border: 1px solid #c3d1c6;

   --transition-duration: 0.2s; 

   --main-weight: 'Raleway Medium', sans-serif;

   --container-width: 1110px;
   --container-padding-x: 15px;
}